/* 배경 색상 기본 흰색 */
body {
    background-color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 스크롤 방지 */
    font-family: Arial, sans-serif;
}

/* 돌돌 말리기 애니메이션 */
@keyframes roll-up {
    0% {
        transform: scale(1) rotate(0deg); /* 원래 크기와 회전 없음 */
        opacity: 1;
    }
    50% {
        transform: scale(0.5) rotate(180deg); /* 크기 감소 및 180도 회전 */
        opacity: 1;
    }
    100% {
        transform: scale(0) rotate(360deg); /* 크기 완전히 줄이고 회전 완료 */
        opacity: 0;
    }
}

/* 초대장 이미지 스타일 */
.invitation {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.hide {
    animation: roll-up 1s forwards; /* 애니메이션 추가 */
}

/* 이미지 스타일 */
img {
    width: auto;
    height: 50%;
    cursor: pointer;
}


p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

p:hover {
    background-color: #ffdd57;
    transform: scale(1.05);
}

p::before {
    content: '←';
    margin-right: 8px;
    font-size: 22px;
    color: #ff6f61;
    vertical-align: middle;
}

